<h2 class="col-12 mgBot"> <span>FAIR Maturity Indicator - Collections </span> </h2>

<div class="col-12">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search collections" ng-model="collections_searchTerms">
            </div>
        </div>
    </form>
</div>

<table class="table table-hover table-light table-striped">
    <thead>
    <tr>
        <th scope="col">
            <span>Status</span>
        </th>
        <th scope="col" ng-click="sortType.collections = 'name'; reverseSort.collections = !reverseSort.collections" class="clickMe">
            <span>Title</span>
            <span ng-show="sortType.collections == 'name' && !reverseSort.collections" class="fa fa-caret-down"></span>
            <span ng-show="sortType.collections == 'name' && reverseSort.collections" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.collections = 'description'; reverseSort.collections = !reverseSort.collections" class="clickMe">
            <span>Description</span>
            <span ng-show="sortType.collections == 'description' && !reverseSort.collections" class="fa fa-caret-down"></span>
            <span ng-show="sortType.collections == 'description' && reverseSort.collections" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.collections = 'Organization'; reverseSort.collections = !reverseSort.collections" class="clickMe">
            <span>Organization</span>
            <span ng-show="sortType.collections == 'Organization' && !reverseSort.collections" class="fa fa-caret-down"></span>
            <span ng-show="sortType.collections == 'Organization' && reverseSort.collections" class="fa fa-caret-up"></span>
        </th>
        <th scope="col">
            <span>Contact</span>
        </th>
        <th scope="col">View</th>
        <th scope="col">Execute</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="collection in content_output | orderBy : sortType.collections:reverseSort.collections | filter:collections_searchTerms">
        <td class="col1">
            <i class="fa" ng-class="{'fa-check': !collection.status, 'fa-times': collection.status}"></i>
        </td>
        <td>
            {{collection.name}}
        </td>
        <td>
            {{collection.description}}
        </td>
        <td>
            {{collection.Organization}}
        </td>
        <td>
            <a href="{{collection.contact}}" target="_blank" class="orcidLink">
                <img src="assets/img/orcid.png" class="orcid_icon">
            </a>
        </td>

        <td>
            <a ng-href="#!collections/{{collection['id'] | URL_last_arg}}"> <i class="fas fa-share-square showButton"></i> </a>
        </td>

        <td>
            <a ng-href="#!collections/{{collection['id'] | URL_last_arg}}/evaluate"> <i class="fas fa-cogs showButton"></i></a>
        </td>
    </tr>
    </tbody>

</table>