<h2 class="col-12 mgBot"> <span> FAIR Maturity Indicator - Tests </span> </h2>

<div class="col-12">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search terms" ng-model="metrics_searchTerms">
            </div>
        </div>
    </form>
</div>

<table class="table table-hover table-light table-striped">
    <thead>
    <tr>
        <th scope="col" ng-click="sortType.metrics = 'name'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Name</span>
            <span ng-show="sortType.metrics == 'name' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'name' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.metrics = 'creator'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Creator</span>
            <span ng-show="sortType.metrics == 'creator' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'creator' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.metrics = 'email'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Email</span>
            <span ng-show="sortType.metrics == 'email' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'email' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.metrics = 'principle'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Principle</span>
            <span ng-show="sortType.metrics == 'principle' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'principle' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.metrics = 'test'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Test of</span>
            <span ng-show="sortType.metrics == 'test' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'test' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col" ng-click="sortType.metrics = 'interface'; reverseSort.metrics = !reverseSort.metrics" class="clickMe">
            <span>Interface</span>
            <span ng-show="sortType.metrics == 'interface' && !reverseSort.metrics" class="fa fa-caret-down"></span>
            <span ng-show="sortType.metrics == 'interface' && reverseSort.metrics" class="fa fa-caret-up"></span>
        </th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="metric in content_output | orderBy : sortType.metrics:reverseSort.metrics | filter:metrics_searchTerms">
        <td> {{metric['name']}}</td>
        <td> {{metric['creator']}}</td>
        <td> {{metric['email']}}</td>

        <td>
            <a target="_blank" href="{{metric['principle']}}">
                {{metric['principle'] | URL_last_arg}}
            </a>
        </td>

        <td>
            <a href="https://github.com/FAIRMetrics/Metrics/tree/master/MaturityIndicators/Gen2/{{metric['test_of_metric'] | test_of_URL}}.md"
               target="_blank">{{metric['test_of_metric'] | URL_last_arg}}</a>
        </td>


        <td> {{metric['smarturl'] | URL_last_arg}}</td>

        <td>
            <a ng-href="#!metrics/{{metric['@id'] | URL_last_arg}}"><i class="fas fa-share-square showButton"></i></a>
        </td>
    </tr>
    </tbody>
</table>