html {
    height: 100% !important;
    background-color: #F8F9FA;
}
body{
    background-color: #F8F9FA;
}

.mainContainer {
    padding: 15px 20px;
    background-color: white;
    margin:15px auto;
    box-shadow: 4px 4px 3px #D6D6D6;
}

.collectionsCards {
    margin-top: 15px;
}

.card-header {
    padding: 0.5rem 1rem;
    border-top-left-radius: 30px;
}

button.btn{
    border-radius: 0;
    box-shadow:2px 2px 3px #D6D6D6;

}

h3 {
    padding:0;
    font-size: 1.4rem;
}

h2 {
    /*text-shadow: 1px 1px 4px rgba(0,0,0,0.2);*/
    font-weight: bold;
    color: rgba(0,0,0,1);
    color: #325D88;
}

h2.mgBot{
    margin-bottom:30px;
}

h2 span {
    border-bottom: 1px solid #325D88;
    padding-bottom: 6px;
}

h2 a{
    color:rgba(0,0,0,1);
}

h4{
    text-align: center;
    font-weight: bold;
}

h5 {
    display: inline-block;
}

h6 {
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.3rem;
}

.miniIcon {
    width:100%;
    max-width: 200px;
    display: block;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.metricsIcon {
    width: 80%;
}

label {
    margin-bottom: 0;
    color: black;
    font-weight: bolder;
}

table button.btn {
    padding:10px 20px;
}

table th{
    min-width:110px;
}

.table thead th {
    border-bottom:0;
    text-align: center;
}

.table {
    border: 1px solid #ccc;
}

.table td.col1{
    text-align: center;
}

.table td{
    vertical-align: middle;
    text-align: center;
}

.table-hover tbody tr:hover{
    background-color: #b6c5d5 !important;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.card {
    border-radius: 0 0 30px 30px;
    border-color: transparent ;
    border-width: 2px;
    box-shadow: 4px 4px 3px #D6D6D6;
    height: 100%;
    background-color: #e9ecef;
}

div.main .card{
    background-color: white;
}

div.main .card p{
    text-align: justify;
}

label.collectionName {
    color: #325D88;
    font-size:1.2rem;
}

.card-header i,
.card-header h3 {
    display: inline-block;
}

.card-header i {
    margin-right: 10px;
    color:green;
}

.buttonsContainer button{
    display: block;
    width:80%;
    margin-right: auto;
    margin-left: auto;
    left:0;
    right:0;
}

.buttonsContainer {
    margin-bottom: 15px;
}

.buttonsContainer button:first-child{
    margin-bottom: 3px;
}

.goBack button{
    padding:10px;
    margin-top: 10px;
    box-shadow: 4px 4px 3px #D6D6D6;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.navbar-nav li {
    margin: 0 10px;
}

.EvaluationForm {
    border-bottom:2px solid #325D88;
}

.FormContent{
    padding:15px 30px;
}


md-input-container {
    padding: 2px 15px;
}

.submitEval{
    padding:10px 20px;
    width: 100%;
}

.buttonHolder {
    padding:10px;
}

/* FADERS */

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

.fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}

/* PAGINATION */
.pagination {
    margin-top:20px;
    text-align: center;
    font-size:1.6rem;
}

.pagination .col-1{
    padding-left:2px;
    padding-right:2px;
}

.pagination button {
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collections {
    padding-bottom: 20px;
}

.splash {
    padding: 12em 0 6em;
    background: #349aed;
    background: linear-gradient(to left, #1A2980, #26D0CE);
    color: #fff;
    text-align: center;
}

.splash span.subtitle {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    font-size:1.4rem;
}

hr {
    border:0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(204, 204, 204, 1), rgba(0, 0, 0, 0));
}

.splash hr{
    border:0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-bottom: 30px;
}

.siteLogo{
    width:80px;
}

.navbar-brand {
    margin-right:50px;
}

nav {
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.5);
}

.nav-link{
    transition: 0.5s linear all;
    border-bottom: 2px solid #3E3F3A;
}

.nav-link:hover{
    border-bottom:2px solid white;
}

div#social{
    margin-top:30px;
}

a.nav-link, a.dropdown-item{
    font-size: 16px !important;
}

div.dropdown-menu{
    margin-top: 6px;
}


/* MAIN PAGE */

div.section {
    padding: 6em 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #eaf1f1;
    text-align: center;
}

div.section .sectionItemIcon{
    font-size: 2.1rem;
    margin-right:20px;
}

div.section .sectionItemLabel {
    font-size: 1.5rem;
    color: #444;
    top: -7px;
    position: relative;
}

div.section .getStarted{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

div.main {
    margin-top: 20px;
}

.mainRowLeft, .mainRowRight, .mainRowTop {
    padding-top:10px;
    padding-bottom:10px;
}

div.main div.card-body{
    text-align: justify;
}

iframe.twitter-timeline {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* FOOTER */
.footer {
    color: white;
}

.mainContainer, .main{
    margin-bottom:120px;
}

.navbar div.btn a {
    color:white;
}

md-content {
    width:100%;
    background-color: white;
}

.newCol{
    padding: 20px 10px;
}

.newCollectionValidate{
    padding:30px;
}

.md-select-value span {
    display: block !important;
}

@media (min-height:1280px) {
    md-select-menu, md-select-menu md-content {
        max-height: 350px !important;
    }
}

/* WAITER */

.waiter {
    background-color: white;
    box-shadow: 4px 4px 3px #D6D6D6;;
    margin-top: 30px;
    margin-bottom:30px;
    text-align: center;
    padding:20px 20px;
}

.waiterLabel {
    text-align: center;
    font-size: 1.5rem;
    color: #325D88;
}

.waiterLabel span{
    font-size: 1.1rem;
}

.rdyLink {
    font-size: 1.3rem;
}

.orcid_icon {
    width:30px;
    height:auto;
}

.evalTitle .orcidLink {
    position: relative;
    left:10px;
    float:right;
}

.fa-star {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 2rem;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.fa-check{
    color:#228B22;
}

#star1 {
    color: red;
}

#star2{
    color: #FF6600;
}

#star3 {
    color: #FFCC00;
}

#star4, #star5 {
    color: #27aae1;
}

.comment {
    font-size:0.9rem;
    margin-top: 15px;
    text-align: justify;
}

.resultCol {
    margin-top:15px;
}

.hints{
    margin-bottom: 30px;
}

a {
    color: #27aae1;
}

a:hover {
    color: #213d59;
}

.showButton {
    color: #325D88;
    font-size: 2rem;
}

.showButton:hover{
    cursor: pointer;
}

table a {
    font-weight: bold;
}

.mainPageItem a, .sectionItemText a {
    font-weight: bold;
}

.resultItem {
    margin-bottom:20px;
}

.stars,
.doughnut,
.hBar,
.principleContainer,
.quitter,
.input-group-addon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quitter .fa{
    font-size:1.3rem;
    color:#ccc;
    position: absolute;
    top: -8px;
    right: 9px;
}

.quitter .fa:hover {
    cursor:pointer;
}

.starContainer, #doughnut, #bar {
    display: inline-block;
}

.charts {
    max-width:30%;
}

.principle{
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    position: relative;
    width:100%;
}

.principle a{
    background-color:#325D88;
    border-radius: 50%;
    color: white;
    padding: 5px 5px 5px 13px;
    box-shadow: 2px 1px 7px #D6D6D6;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principle a:hover{
    text-decoration:none;
}

.principle:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/

}

.socialMedia .card-body {
    padding:0 !important;
}


canvas#doughnut {
    width:109% !important;
    height:auto !important;
}


.principleText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartSwitch{
    display: inline-block;
}

.input-group-addon{
    min-width:35px;
    background-color:#325D88;
}

.input-group-addon .fa{
    color:white;
}

.input-group-addon input.form-control:not(:first-child){
    border-radius: 0 !important;
}

.imgCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickMe:hover{
    cursor:pointer;
}


.newlines{
    white-space: pre-wrap;
    text-align: justify;
}

.collectionTitle {
    margin-bottom:10px;
}

.collectionStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding:0;
}

.collectionStatus .fa-check{
    color:darkgreen;
}

.fa-times{
    color:red;
}

.collectionTitle .col-10{
    display: flex;
    align-items: center;
    padding:0;
    padding-top:8px;
}

/* TODO: set sm and md @media for .section.sectionItem
         set sm for icons padding on main page.
*/

@media(max-width: 766px){
    .section .sectionItem{
        text-align: center;
    }

    .principle {
        font-size: 2.5rem;
    }
}

@media(min-width: 767px) and (max-width:992px){
    .section .sectionItem{
        text-align: center;
    }
    .section #item3{
        margin-top:40px;
    }
    .principle {
        font-size: 2.5rem;
    }
}