<div class="about fade show container mainContainer">

    <div class="row">

        <div class="col-12">
            <h2> About us </h2>
            <hr>
        </div>

        <div class="col-12">
            <div class="imgBlock">
                <img class="largeIcon" src="assets/img/fairsharing.png">
                <img class="largeIcon metricsIcon" src="assets/img/fairmetrics-sm.png">
            </div>
            <div class="imgText">This application is driven by the <a href="https://github.com/FAIRMetrics" target="_blank">FAIRmetrics</a>
                and the <a href="https://sansonegroup.eng.ox.ac.uk/" target="_blank">FAIRsharing</a> groups.</div>
            <hr style="margin-bottom: 30px;">
        </div>

        <div class="col-12">
            <h2 style="margin-bottom: 30px;"> The team</h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="teamElement card">
                            <h3> Back-end: </h3>
                            <p> Mark D Wilkinson</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="teamElement card">
                            <h3> Front-end: </h3>
                            <p> Dominique Batista</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="teamElement card">
                            <h3> Metrics and tests designs: </h3>
                            <p> Susanna A. Sansone</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>
