<div warning></div>

<div class="container mainContainer fade show" ng-if="response_rdy && request_error">
    <div timeout></div>
</div>

<div class="fade show container mainContainer" ng-if="response_rdy && !request_error">

    <div class="container evalTitle">
        <div class="row collectionTitle">

            <div class="col-1 collectionStatus">
                <i class="fa" ng-class="{'fa-check':!collection.status, 'fa-times':collection.status}"> </i>
            </div>

            <div class="col-10"><h2>{{collection.title}}</h2></div>

            <div class="orcid_logo col-1">
                <a href="{{collection['http://purl.org/dc/elements/1.1/authoredBy']}}" target="_blank" class="orcidLink">
                    <img src="assets/img/orcid.png" class="orcid_icon">
                </a>
            </div>
        </div>
    </div>

    <div class="container collectionFields">

        <!-- description -->
        <div class="fieldContainer">
            <label>Description: </label>
            <span> {{collection['http://rdfs.org/ns/void#description']}}</span>
        </div>

        <!-- license -->
        <div class="fieldContainer">
            <label>Licence: </label>
            <a href="{{collection['http://purl.org/dc/elements/1.1/license']}}}" target="_blank">
                {{collection['http://purl.org/dc/elements/1.1/license']}}
            </a>
        </div>

        <!-- Organization -->
        <div class="fieldContainer">
            <label>Organization: </label>
            <span> {{collection['http://purl.org/dc/elements/1.1/creator']}}</span>
        </div>

        <!-- Creation date -->
        <div class="fieldContainer">
            <label>Created on: </label>
            <span> {{collection['http://purl.org/pav/version'] | date}}</span>
        </div>

        <!-- Creation date -->
        <div class="fieldContainer">
            <label>Status: </label>
            <span ng-if="!collection.status"> Valid </span>
            <span ng-if="collection.status"> Deprecated </span>
        </div>


        <!-- Metrics -->
        <div class="fieldContainer">
            <label>Maturity Indicators Tests</label>
            <span>({{collection['http://www.w3.org/ns/dcat#entities']}}):</span>
            <ul>
                <li ng-repeat="(key, metric) in collection['contains']">
                    <a href="{{metric['@id'] | replaceURL}}">{{metric['name']}}</a> <span>({{metric['principle'] | URL_last_arg}}): </span>
                    <span> {{metric['description']}}</span>
                </li>
            </ul>
        </div>
        <hr>

    </div>

    <div class="goBack">
        <a ng-href="#!/collections">
            <button type="button"
                    class="btn-primary btn">
                Go Back to Collections
            </button>
        </a>
    </div>

</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>