<div warning></div>

<!-- response -->
<div class="container fade show waiter" ng-if="response_content">

    <div class="row">
        <div class="waiterLabel col-12"> Your URL is ready:</div>
        <a class="rdyLink col-12"
           style="text-align: center"
           ng-href="{{response_content}}">
            {{response_content}}
        </a>
    </div>
    {{errors}}

</div>

<!-- form -->
<div class="container mainContainer fade show newCollection"
     ng-if="!triggered">

    <div class="newCol row fade show">

        <div class="col-12">
            <h2 class="mgBot"><span>Create a new collection of maturity indicators</span></h2>
        </div>

        <md-content layout-padding>
            <div>
                <form name="newCollection">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <md-select multiple="{{true}}"
                                       placeholder="Select Maturity Indicators"
                                       ng-model="collection_data.indicators"
                                       name="collectionMetrics"
                                       required>
                                <md-option ng-repeat="collection in available_metrics"
                                           value="{{collection['@id']}}">
                                    {{collection['name']}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Collection name</label>
                            <input ng-model="collection_data.name" required name="collectionName" minlength="35">
                            <div ng-messages="newCollection.collectionName.$error">
                                <div ng-message="required">Please provide an informative, publicly-meaningful title for this collection with at least 35 characters.</div>
                                <div ng-message="minlength">Please provide an informative, publicly-meaningful title for this collection with at least 35 characters.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Contact ORCiD</label>
                            <input ng-model="collection_data.contact" required name="collectionContact">
                            <div ng-messages="newCollection.collectionContact.$error">
                                <div ng-message="required">Please provide an ORCID. If you dont have one, you can register at https://orcid.org/</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Organization Name</label>
                            <input ng-model="collection_data.organization" required name="collectionOrganization" minlength="3">
                            <div ng-messages="newCollection.collectionContact.$error">
                                <div ng-message="required">Please provide an organisation name with at least 3 characters</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Description of the collection, please be sure to indicate the community(ies) to which this collection would be relevant</label>
                        <textarea ng-model="collection_data.description"
                                  md-maxlength="300"
                                  rows="5"
                                  required
                                  name="collectionDescription"
                                  minlength="100"
                                  md-select-on-focus>

                        </textarea>
                        <div ng-messages="newCollection.collectionDescription.$error">
                            <div ng-message="required">Please provide a meaningful description with at least 100 characters</div>
                        </div>
                    </md-input-container>

                </form>
            </div>
        </md-content>

        <div class="newCollectionValidate">
            <button type="submit"
                    class="btn btn-primary"
                    ng-click="createCollection(newCollection)">
                Create collection
            </button>

            <button type="button" class="btn btn-primary" ng-click="clearFields()">Clear fields</button>
            <a ng-href="#!/collections">
                <button type="button" class="btn btn-primary">
                    Go back to collections
                </button>
            </a>
        </div>

    </div>

</div>

<!-- waiter -->
<div class="container fade show" ng-if="triggered">
    <div loader></div>
</div>