<!-- response -->
<div class="container fade show waiter" ng-if="response_content != null">

    <div class="row">
        <div class="waiterLabel col-12"> Your URL is ready:</div>
        <a class="rdyLink col-12"
           style="text-align: center"
           ng-href="{{response_content}}">
            {{response_content}}
        </a>
    </div>
    {{errors}}

</div>

<div class="container mainContainer fade show" ng-if="response_rdy">
    <div class="newCol row fade show">

        <div class="col-12">
            <h2 class="mgBot"><span> Import Maturity Indicator</span></h2>
        </div>

        <div class="col-12">

            <md-content layout-padding>
                <div>
                    <form name="newMetric">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>URL to the Maturity Indicator Test's smartAPI YAML</label>
                            <input ng-model="form.metrics_url" required name="collectionName">
                        </md-input-container>
                    </form>
                </div>
            </md-content>

            <div class="newCollectionValidate">
                <div class="infoAccept">
                    <div submit-warning></div>
                    <div class="btnSubmit">
                        <button type="button" class="btn btn-primary" ng-click="import_metric(newMetric)">Import Maturity Indicator</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>