
<div class="container mainContainer fade show" ng-if="response_rdy && request_error">
    <div timeout="request_error"></div>
</div>


<div class="container mainContainer fade show" ng-if="response_rdy && !request_error">

    <div metrics-data="content_output" ng-if="dataType == 'metrics'"></div>

    <div collections-data="content_output" ng-if="dataType == 'collections'"></div>

    <div evaluations-data="content_output"
         pagination="configure_pagination"
         search="search"
         ng-if="dataType == 'evaluations'">
    </div>
</div>


<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>