<div class="section">
    <div class="container">
        <div class="row">

            <!-- item 1 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-6 col-sm-12" id="item1">
                <i class="sectionItemIcon fas fa-cogs"></i>
                <label class="sectionItemLabel">Import MI Tests</label>
                <p class="sectionItemText">
                    Import  Maturity Indicators Tests as YAML  <a href="" target="_blank">smartAPI</a> interface annotation
                    <a ng-href="#!/metric/new">
                        <button type="button" class="getStarted btn-primary">
                            Get started
                        </button>
                    </a>
                </p>
            </div>

            <!-- item 2 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-6 col-sm-12" id="item2">
                <i class="sectionItemIcon fas fa-list"></i>
                <label class="sectionItemLabel">Create collections</label>

                <p class="sectionItemText">
                    Assemble  Maturity Indicators Tests into community centered collections
                    <a ng-href="#!/collection/new">
                        <button type="button" class="getStarted btn-primary"> Get started </button>
                    </a>
                </p>
            </div>

            <!-- item 3 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-12 col-sm-12" id="item3">
                <i class="sectionItemIcon fas fa-balance-scale"></i>
                <label class="sectionItemLabel">Evaluate resources</label>
                <p class="sectionItemText">
                    Evaluate resources FAIRness against Collections of Maturity Indicator Tests
                    <a ng-href="#!/collections/new/evaluate">
                        <button type="button" class="getStarted btn-primary"> Get started </button>
                    </a>
                </p>
            </div>


        </div>
    </div>
</div>

<div warning></div>

<div class="main container">

    <div class="row">

        <div class="col-lg-12 mainRowTop">
            <div class="container">
                <div class="mainPageItem">
                    <div class="card-header">
                        <h2>Philosophy of FAIR testing </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Evaluating FAIRness is a controversial issue! We (the Maturity Indicator Authoring Group) feel that
                            these concerns can be eased through bringing more clarity regarding the "philosophy" behind
                            FAIRness testing. <br>
                            First, there is no such thing as "FAIR", and neither is there "unFAIR"! As described
                            in <a href="https://content.iospress.com/articles/information-services-and-use/isu824" target="_blank">this manuscript</a>, we
                            view FAIR as a continuum of 'behaviors' exhibited by a data resource that
                            increasingly enable machine discoverability and (re)use. Moreover, the final FAIR Principle
                            speaks directly to the fact that "FAIR" will have different requirements for different communities!
                            Thus, a given Maturity Indicator (and its associated Maturity Indicator Test) may not be applicable
                            to certain types of resources from a given community; or, alternatively, there may exist in that
                            community some standard that is widely accepted within that community to enable
                            machine-actionability of a data resource, but that would not be recognized by a "generic"
                            computational agent. This is all completely acceptable, and is the reason that the Maturity
                            Indicators and the Maturity Indicator Testing framework have been established as a community-driven
                            initiative, rather than top-down.<br>
                            For example: In the bioinformatics community, a widely used format for Sequence Features is
                            <a href="https://www.ensembl.org/info/website/upload/gff3.html" target="_blank">GFF3</a> - a tab-delimited format
                            with specific constraints on the content of each field. From the perspective of a "generic" computational
                            agent, it would be ~impossible to interpret or reuse that data; however, there are constraints on that format that speak directly to the
                            interoperability objectives of FAIR - for example, that the "type" field must consist of a term
                            from the Sequence Ontology. Thus, it would be reasonable for the Bioinformatics community to
                            create a FAIR Maturity Indicator, and its associated Maturity Indicator Test, that evaluated
                            if a GFF3 file fulfilled those requirements. Thus, a community could create a Maturity Indicator
                            Collection that eschewed the "generic" test for machine-readability of the data, and instead,
                            utilized their own Maturity Indicator Test that validated the content of that GFF3 file.<br>
                            In light of this, we insist that FAIR evaluations are not intended to be used as "judgement",
                            but rather as a means to objectively (AND TRANSPARENTLY!) test if a resource has successfully
                            fulfilled the FAIRness requirements that that community has established. In this light,
                            FAIR Evaluation is a way for individual providers, or repository owners, to test their own
                            compliance, and to take remedial action if their resources are not passing the tests.
                            Confirmation and/or guidance, rather than judgement. <br>
                            Certainly, we believe that some FAIR Maturity Indicator (for example, that the entity
                            has a globally unique identifier, and that all data should have a license and citation
                            information) are universal, and a prerequisite for FAIRness; however, many of the FAIR
                            Principles must be interpreted by the individual communities, keeping as close to the "spirit" of
                            FAIR as possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW LEFT -->
        <div class="col-lg-9 mainRowLeft">

            <div class="container">
                <div class="mainPageItem">
                    <div class="card-header">
                        <h2>Create and register new maturity indicators </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            FAIR Maturity Indicators are created, initially, as a narrative document, <a href="http://fairmetrics.org/fairmetricform.html" target="_blank">following a template</a>
                            extablished by the FAIR Metrics Authoring Group.
                            A <a target="_blank" href="https://github.com/FAIRMetrics/Metrics/blob/master/MaturityIndicators/MaturityIndicatorTemplate.md">MarkDown version of this template</a> is available above,
                            and should be used for Maturity Indicator submissions by the public. Guidance for how to
                            complete this document is found in the <a href="http://fairmetrics.org/framework.html" target="_blank">authoring framework overview</a>.
                            <br>
                            A Template Markdown file is provided for you in
                            the <a href="https://github.com/FAIRMetrics/Metrics/tree/master/MaturityIndicators" target="_blank">MaturityIndicator folder</a>.
                            Once a Maturity Indicator has been designed, the document should be submitted via 'pull request'
                            to this repository, at which time it becomes available for community discussion.
                            <br>
                            The author of the Maturity Indicator should publicize their submission as widely as
                            possible, to encourage maximal community input. This can be achieved by registering the
                            Maturity Indicator to FAIRsharing, via the <a href="https://fairsharing.org/new/" target="_blank">submission form</a>, or by contacting the
                            FAIRsharing curators by <a href="mailto:contact@fairsharing.org">email</a> they will
                            harvest the information from the GitHub and help with the registration process. The new
                            Maturity Indicator will be added to the
                            existent <a href="https://fairsharing.org/standards/?q=&selected_facets=type_exact:metric" target="_blank">list of Maturity Indicator</a> with the "in development" tag.
                            <br>
                            At this time, there is no formal process for adoption of Maturity Indicators
                            (incuding those that the Authoring Group have designed themselves!), as there is
                            no official body that can recognize or "stamp" a Maturity Indicator as being "valid".
                            Nevertheless, authors should consider the comments and criticisms they receive, and
                            modify the submission accordingly if the criticisms are justified. When the Maturity
                            Indicator is considered ready for use, the FAIRsharing curators will replace the
                            "in development" with a "ready" tag to indicate readiness.
                        </p>
                    </div>
                </div>

                <div class="mainPageItem">
                    <div class="card-header">
                        <h2>Create new maturity indicators tests</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            With the goal of providing an objective, automated way of testing (meta)data resources
                            against the Maturity Indicators, the Authorship Group have created the FAIR Evaluator,
                            which is running as a demonstration service at https://w3id.org/FAIR_Evaluator. The
                            Evaluator provides a registry and execution functions for:
                            <ul>
                        <li>Maturity Indicator Tests</li>
                                <li>Community-defined Collections of Maturity Indicator Tests</li>
                                <li>Quantitative FAIRness evaluations of a Resource based on these Collections.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="mainPageItem">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-header">
                                <a href="https://www.fairsharing.org" target="_blank"><h2>
                                    FAIRSharing.org
                                    <!--<img class="miniIcon" src="assets/img/fairsharing.png">-->
                                </h2></a>
                            </div>
                            <div class="card-body">
                                <p>
                                    FAIRsharing is a FAIR-enabling resource and a registry for a wide variety of community
                                    data and metadata standards, including file formats, ontologies, identifier schemas, as
                                    well as for Maturity Indicators . In addition, FAIRsharing provides a JSON API that can
                                    be used within Maturity Indicator Tests to look-up "standards" a test encounters in its
                                    exploration of (meta)data to determine if that standard is registered. <br>
                                    Standards that are not registered with FAIRsharing are encouraged to do so by contacting
                                    the appropriate standards-body, or by submitting the missing standards via the submission
                                    form , or by contacting the FAIRsharing curators by email to include the standard in their
                                    registry.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 imgCentered">
                            <div class="imgBlock">
                                <img class="miniIcon" src="assets/img/fairsharing.png">
                                <img class="miniIcon metricsIcon" src="assets/img/fairmetrics.png">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>

        </div>

        <!-- ROW RIGHT -->
        <div class="col-lg-3 mainRowRight">

            <div class="container">

                <div class="mainPageItem">
                    <div class="card-header">
                        <h2>About us </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            <label>Back-end:</label> <BR>
                            <span>
                                Mark Wilkinson <br>
                                Centro de Biotecnología y Genómica de Plantas UPM-INIA (CBGP),<br>
                                Universidad Politécnica de Madrid.<br>
                            </span>
                        </p>

                        <p>
                            <label>Front-end:</label> <BR>
                            <span>
                                Dominique Batista <br>
                                Oxford e-research Center (OERC),<br>
                                University of Oxford.<br>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="mainPageItem socialMedia">
                    <div class="card-header">
                        <h2>Social Media </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            <a class="twitter-timeline"
                               href="https://twitter.com/FAIRsharing_org?ref_src=twsrc%5Etfw"
                               data-width="600" data-height="600">
                                Tweets by FAIRsharing_org
                            </a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

