<div class="container mainContainer fade show" ng-if="response_rdy && request_error">
    <div timeout="request_error"></div>
</div>

<div class="container mainContainer fade show" ng-if="response_rdy && !request_error">

    <div class="container evalTitle">
        <div class="row">
            <div class="col-11"><h2>{{content_output.name}}</h2></div>
            <div class="orcid_logo col-1">
                <a href="https://orcid.org/ + {{content_output['orcid']}}" target="_blank" class="orcidLink">
                    <img src="assets/img/orcid.png" class="orcid_icon">
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-md-3 principleContainer">
                <div class="principle">
                    <a href="{{content_output['principle']}}" target="_blank">{{content_output['principle'] | URL_last_arg}}</a>
                </div>
            </div>

            <div class="col-lg-10 col-sm-12 principleText">

                <div class="container">
                    <!-- Description -->
                    <div class="row">
                        <div class="col-12">
                            <label>Description: </label>
                            <span> {{content_output["description"]}}</span>
                        </div>
                    </div>

                    <!-- Created -->
                    <div class="row">
                        <div class="col-12">
                            <label>Created by: </label>
                            <span>
                                <a href="mailto:{{content_output['email']}}">{{content_output["creator"]}}</a> on {{content_output['created_at'] | date}} (updated on {{content_output['updated_at'] | date}})
                            </span>
                        </div>
                    </div>

                    <!-- Created -->
                    <div class="row">
                        <div class="col-12">
                            <label>Interface smarlURL: </label>
                            <a href="{{content_output['smarturl']}}" target="_blank">
                                {{content_output["smarturl"]}}
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr>
    </div>

    <div class="goBack">
        <a ng-href="#!/metrics">
            <button type="button"
                    class="btn-primary btn">
                Go Back to metrics list
            </button>
        </a>
    </div>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>