<div warning></div>

<div class="container mainContainer fade show" ng-if="response_rdy">

    <div class="container evalTitle">
        <div class="row">
            <div class="col-11"><h2>{{metric.name}}</h2></div>
            <div class="orcid_logo col-1">
                <a href="https://orcid.org/ + {{metric['orcid']}}" target="_blank" class="orcidLink">
                    <img src="assets/img/orcid.png" class="orcid_icon">
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-md-3 principleContainer">
                <div class="principle">
                    <a href="{{metric['principle']}}" target="_blank">{{metric['principle'] | URL_last_arg}}</a>
                </div>
            </div>

            <div class="col-lg-10 col-sm-12 principleText">

                <div class="container">
                    <!-- Description -->
                    <div class="row">
                        <div class="col-12">
                            <label>Description: </label>
                            <span> {{metric["description"]}}</span>
                        </div>
                    </div>

                    <!-- Created -->
                    <div class="row">
                        <div class="col-12">
                            <label>Created by: </label>
                            <span>
                                <a href="mailto:{{metric['email']}}">{{metric["creator"]}}</a> on {{metric['created_at'] | date}} (updated on {{metric['updated_at'] | date}})
                            </span>
                        </div>
                    </div>

                    <!-- Created -->
                    <div class="row">
                        <div class="col-12">
                            <label>Interface smarlURL: </label>
                            <a href="{{metric['smarturl']}}" target="_blank">
                                {{metric["smarturl"]}}
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr>
    </div>

    <div class="goBack">
        <button type="button"
                class="btn-primary btn"
                ng-click="goToLocation('#!/metrics')">
            Go Back to metrics list
        </button>
    </div>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>