<div warning></div>

<div class="container mainContainer fade show" ng-if="response_rdy && request_error">
    <div timeout></div>
</div>

<div class="container mainContainer fade show" ng-if="response_rdy && !request_error">

    <h2 class="col-12 mgBot"> <span> FAIR Maturity Indicator - Metrics </span> </h2>

    <div class="col-12">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search terms" ng-model="metrics_searchTerms">
                </div>
            </div>
        </form>
    </div>

    <div metrics-data="content_output"></div>

</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>