
<div warning></div>

<div class="container mainContainer fade show" ng-if="response_rdy && request_error">
    <div timeout></div>
</div>

<div class="container mainContainer fade show" ng-if="response_rdy && !search_errors && !request_error">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon" ng-click="goToSearches(searchTerms)">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control"
                                   placeholder="Search for collections and metrics"
                                   ng-model="searchTerms">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" ng-if="searchTerms">

            <div class="col-12">
                <h2 class="mgBot"><span>Search results</span></h2>
            </div>

            <div class="search_results col-12" id="metrics_results" metrics-data="results.metrics">
            </div>

            <div class="search_results col-12" id="collections_results" collections-data="results.collections">
            </div>

        </div>
    </div>

</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>

<!-- ERRORS -->
