<!-- COLLECTIONS -->
<div class="container mainContainer fade show" ng-if="response_rdy">
    <div class="collections row fade show">
        <div class="col-12">
            <h2 class="mgBot"><span>FAIR Maturity Indicator - Collections</span></h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xl-3 collectionsCards" ng-repeat="collection in collections.data">
            <div class="card">
                <div class="card-body">
                    <div class="title">
                        <label class="collectionName">{{collection.name}}</label>
                    </div>
                    <hr>
                    <div class="description">
                        <label>Status:</label>
                        <span> Deprecated or Valid </span>
                    </div>
                    <div class="description">
                        <label>Description:</label>
                        <span> {{collection.description}} </span>
                    </div>
                    <div class="description">
                        <label>Contact:</label>
                        <span> {{collection.contact | URL_last_arg}} </span>
                    </div>
                    <div class="description">
                        <label>Organization:</label>
                        <span> {{collection.Organization}} </span>
                    </div>
                </div>

                <div class="buttonsContainer">
                    <button type="button"
                            class="btn btn-primary btn"
                            ng-click="goToCollection(collection['id'])">
                            <a>Show</a>
                    </button>

                    <button type="button"
                            class="btn btn-primary" ng-click="goToRunEvaluation(collection['id'])">
                        Execute Evaluation
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>