<!-- response -->
<div class="container fade show waiter" ng-if="response_content">

    <div class="row">
        <div class="waiterLabel col-12"> Your URL is ready:</div>
        <a class="rdyLink col-12"
           style="text-align: center"
           ng-href="{{response_content}}">
            {{response_content}}
        </a>
    </div>
    {{errors}}

</div>

<!-- form -->
<div class="container mainContainer fade show newCollection"
     ng-if="!triggered">

    <div class="newCol row fade show">

        <div class="col-12">
            <h2 class="mgBot"><span>Create a new collection of maturity indicators</span></h2>
        </div>

        <md-content layout-padding>
            <div>
                <form name="newCollection">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Collection name</label>
                            <input ng-model="collection_data.name" required name="collectionName">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Contact ORCiD</label>
                            <input ng-model="collection_data.contact" required name="collectionContact">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Organization Name</label>
                            <input ng-model="collection_data.organization" required name="collectionOrganziation">
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Description of the collection</label>
                        <textarea ng-model="collection_data.description"
                                  md-maxlength="300"
                                  rows="5"
                                  required
                                  name="collectionDescription"
                                  md-select-on-focus>

                        </textarea>
                    </md-input-container>


                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <md-select multiple="{{true}}"
                                       placeholder="Select Maturity Indicators"
                                       ng-model="collection_data.indicators"
                                       name="collectionMetrics"
                                       required>
                                <md-option ng-repeat="collection in available_metrics"
                                           value="{{collection['@id']}}">
                                    {{collection['name']}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-content>

        <div class="newCollectionValidate">
            <button type="button" class="btn btn-primary" ng-click="createCollection(newCollection)">Create collection</button>
            <button type="button" class="btn btn-primary" ng-click="clearFields()">Clear fields</button>
        </div>

    </div>

</div>

<!-- waiter -->
<div class="container fade show" ng-if="triggered">
    <div loader></div>
</div>