<div class="container mainContainer fade show" ng-if="response_rdy">
    <h2 class="col-12 mgBot"> <span>FAIR Maturity Indicator - Evaluations </span> </h2>
    <table class="table table-hover table-light table-striped">
        <thead>
        <tr>
            <th scope="col">Collection</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Executor</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="evaluation in evaluations">
            <td class="col1">
                {{evaluation['collection'] | URL_last_arg}}
            </td>
            <td>
                {{evaluation['title']}}
            </td>
            <td>
                {{evaluation['http://rdfs.org/ns/void#description']}}
            </td>
            <td>
                <a href="{{evaluation['creator']}}" target="_blank" class="orcidLink">
                    <img src="assets/img/orcid.png" class="orcid_icon">
                </a>
            </td>

            <td>
                <i class="fas fa-share-square showButton" ng-click="goToEvaluation(evaluation['@id'])"></i>
                <!--
                <button type="button"
                        class="btn-primary btn"
                        >
                    Show
                </button>
                -->
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>