<div class="section">
    <div class="container">
        <div class="row">

            <!-- item 1 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <i class="sectionItemIcon fas fa-cogs"></i>
                <label class="sectionItemLabel">Import metrics</label>
                <p class="sectionItemText">
                    Import metrics as YAML  <a href="" target="_blank">smartAPI</a> interface annotation
                    <button type="button" class="getStarted btn-success"> Get started </button>
                </p>
            </div>

            <!-- item 2 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <i class="sectionItemIcon fas fa-list"></i>
                <label class="sectionItemLabel">Create collections</label>
                <p class="sectionItemText">
                    Assemble metrics into community centered collections
                    <button type="button" class="getStarted btn-success"> Get started </button>
                </p>
            </div>

            <!-- item 3 -->
            <div class="sectionItem col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <i class="sectionItemIcon fas fa-balance-scale"></i>
                <label class="sectionItemLabel">Evaluate resources</label>
                <p class="sectionItemText">
                    Evaluation of resources FAIRness against collections
                    <button type="button" class="getStarted btn-success"> Get started </button>
                </p>
            </div>


        </div>
    </div>
</div>




<div class="main container-fluid">
</div>

