<div class="container mainContainer fade show" ng-if="response_rdy">
    <h2 class="col-12 mgBot"> <span> FAIR Maturity Indicator - Metrics </span> </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Email</th>
            <th scope="col">Principle</th>
            <th scope="col">Test</th>
            <th scope="col">Interface</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="metric in metrics">
            <td> {{metric['name']}}</td>
            <td> {{metric['creator']}}</td>
            <td> {{metric['email']}}</td>

            <td>
                <a target="_blank" href="{{metric['principle']}}">
                    {{metric['principle'] | URL_last_arg}}
                </a>
            </td>

            <td> {{metric['test_of_metric'] | URL_last_arg}}</td>
            <td> {{metric['smarturl'] | URL_last_arg}}</td>

            <td>
                <button type="button"
                        class="btn-primary btn"
                        ng-click="goToMetric(metric['@id'])">
                    Show
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- waiter -->
<div class="container fade show" ng-if="!response_rdy">
    <div loader></div>
</div>